<div class="basket">

  <table>

  <thead>
  <tr>
    <td>№</td>
    <td style="width: 100px; text-align: center">Name</td>
    <td style="width: 60px; text-align: center">Price</td>

  </tr>
  </thead>
  <tbody *ngIf="basketItems.length > 0;">
  <tr *ngFor="let item of basketItems; let i = index;">
    <td>{{i+1}}</td>
    <td>{{item.name}}</td>
    <td>{{item.price}}$</td>
    <td style="cursor: pointer">
      <button (click)="removeItem(i)" style="border: 0px; border-radius: 100%; background-color: red; color: white;">X</button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td style="font-weight: bold; font-size: 12px; background-color: black;">Total:</td>
    <td  style="font-weight: bold; font-size: 12px; background-color: black; ">
      {{getTotalPrice(basketItems)}}$
    </td>
  </tr>
  </tbody>
</table>
</div>
