
.head{
  padding: 15px;
  font-size: 1.1em;
  display: flex;
  flex-wrap: wrap;
flex-direction: column;


}
.buy{
  border-radius: 10px;
  background-color: white;
  width: 70px;
  height: 20px;
  font-size: 0.6em;
  border: 0px;
  float: right;
  &:hover{
    background-color: black;
    color: white;
    transition: .5s;
  }
}

