*{
  margin: 0;
  padding: 0;
  font-size: 1.1em;


}
.wrapper{
  background-color: black;
  color: white;
}

.list{
  list-style-type: none;

  li{
    cursor: pointer;
    border-bottom: 1px solid #a7a6a6;
    background: rgb(44,45,51);
    background: linear-gradient(90deg, rgba(44,45,51,1) 15%, rgba(38,38,38,1) 51%);
    -webkit-user-select: none;
    &:hover{transform: scale(1.1);
      position: relative;
      left: 10px;
    transition: .5s;}
  }
}

.content{
  width: 250px;
  color: white;



}











.some{
  margin: auto;
  width: 100px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}




