
<div class="wrapper">
  <nav>
    <div class="content">
      <ul class="list">
        <li routerLink="/"> Home</li>
        <li routerLink="/users">Users</li>
        <li routerLink="/todos">Todos</li>
        <li routerLink="/calculator">Calculator</li>
        <li routerLink="/market" style="border-radius: 0px 0px 15px 0px;">Market</li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>













<!--<div style="display: flex; flex-direction: row; justify-content: space-around">-->
<!--	<div style="width: 30%;">-->
<!--		<div *ngFor="let user of users" style="width: 70%; border: 1px solid black">-->
<!--			<h3>User</h3>-->
<!--			<span>{{ user.name }}</span>-->
<!--		</div>-->
<!--	</div>-->
<!--	-->
<!--	<div style="width: 30%;">-->
<!--		<div *ngFor="let todo of todos" style="width: 70%; border: 1px solid black">-->
<!--			<h3>Todo</h3>-->
<!--			<span>{{ todo.title }}</span>-->
<!--		</div>-->
<!--	</div>-->
<!--	-->
<!--</div>-->


<!--&lt;!&ndash;todo component todo app-todo&ndash;&gt;-->
<!--&lt;!&ndash;ng g c  назва&ndash;&gt;-->
<!--&lt;!&ndash;todo-service todo.service&ndash;&gt;-->
<!--&lt;!&ndash;ng g s  назва&ndash;&gt;-->
<!--&lt;!&ndash;todo-service => getTodos() Promise&ndash;&gt;-->

<!--&lt;!&ndash;https://jsonplaceholder.typicode.com/todos&ndash;&gt;-->

<!--&lt;!&ndash;console.log(todos)&ndash;&gt;-->
